<p>
Turns left: <%= @tally.turns_left %>
</p>

<p>
Word so far: <%= @tally.letters |> Enum.join(" ") %>
</p>

<%= form_for(@conn, Routes.hangman_path(@conn, :make_move), [as: :make_move, method: :put], fn f ->  %>
<%= if not game_over?(@tally) do %>
<%= text_input(f, :guess, minlength: 1, maxlength: 1) %>
<%= submit("Make next move") %>
<% else %>
<p>
The solution: <%= @tally.word %>
</p>
<% end %>
<%= new_game_button(@conn) %>
<% end)%>
